<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>







<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>


<!--    <strong class="capitalize">{{ folder }}</strong>-->
    <strong class="capitalize"></strong>
    <div *ngIf="folder=='Lista' || folder=='Lista de Musíca'">



      <ion-searchbar animated="true" placeholder="Buscar" [(ngModel)]="buscaNome" class="custom"></ion-searchbar>
<!--      <ion-note color="primary">{{items.length}}</ion-note>-->


          <ion-list class="hospital_list">
            <ion-item  class="plan" text-wrap detail-push *ngFor="let hero of filtrarPessoas()">
              <ion-grid>
                <ion-row>
                  <div class="class-codigo" style="border-right:2px solid #4D8DFF">
                    <div class="class-titulo-codigo">Código</div>
                    <div>{{hero.id}}</div>

                  </div>

                  <div class="class-musica">
                    <div class="class-nome"><ion-icon name="musical-notes-sharp"></ion-icon> {{hero.musica}}</div>
                    <div class="class-artista">Artista: {{hero.artista}}</div>
                  </div>
                  <!--              <div class="plan-right">-->
                  <!--                <div><ion-icon name="musical-notes-sharp"></ion-icon>-->
                  <!--                </div>-->
                  <!--              </div>-->
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-list>











    </div>
</ion-content>
