<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>







<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>


    <strong class="capitalize">{{ folder }}</strong>
    <div *ngIf="folder=='Lista'">




<div style="height: 50px"> --



      <ion-list class="plan-list">
        <ion-item  class="plan" text-wrap detail-push *ngFor="let hero of items ; let index = index">
          <ion-grid>
            <ion-row>
              <div class="class-codigo" style="border-right:2px solid #A6A6A6">
                {{hero.id}}
              </div>

              <div class="class-musica">
                <div class="class-nome"><ion-icon name="musical-notes-sharp"></ion-icon> {{hero.musica}}</div>
                <div class="class-artista">Artista: {{hero.artista}}</div>
              </div>
<!--              <div class="plan-right">-->
<!--                <div><ion-icon name="musical-notes-sharp"></ion-icon>-->
<!--                </div>-->
<!--              </div>-->
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
    </div>





    </div>
</ion-content>
