<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" style="width: 50px">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="titulo">
    <ion-label class="label-titulo">Músicas Adiconadas Recentemente</ion-label>
  </div>

  <ion-list>
    <ion-item  class="plan" text-wrap detail-push>
      <ion-grid>
        <ion-row>
          <div class="class-codigo">
            <div>80020</div>
          </div>

          <div class="class-musica">
            <div class="class-nome"><ion-icon name="musical-notes-sharp" color="success"></ion-icon> Bandida</div>
            <div class="class-artista">Banda Corpo E Alma</div>
          </div>
        </ion-row>
        <hr class="hr" />
        <ion-row>
          <div class="class-codigo">
            <div>80021</div>
          </div>

          <div class="class-musica">
            <div class="class-nome"><ion-icon name="musical-notes-sharp" color="success"></ion-icon> Katchaqueira</div>
            <div class="class-artista">Banda Corpo E Alma</div>
          </div>
        </ion-row>
        <hr class="hr" />
        <ion-row>
          <div class="class-codigo">
            <div>80022</div>
          </div>

          <div class="class-musica">
            <div class="class-nome"><ion-icon name="musical-notes-sharp" color="success"></ion-icon> Alô meu amor</div>
            <div class="class-artista">Banda Corpo E Alma</div>
          </div>
        </ion-row>
        <hr class="hr" />
        <ion-row>
          <div class="class-codigo">
            <div>80023</div>
          </div>

          <div class="class-musica">
            <div class="class-nome"><ion-icon name="musical-notes-sharp" color="success"></ion-icon> Olhos negros/Katchaqueira/Alô meu amor</div>
            <div class="class-artista">Banda Corpo E Alma</div>
          </div>
        </ion-row>

        <hr class="hr" />
        <ion-row>
          <div class="class-codigo">
            <div>80024</div>
          </div>

          <div class="class-musica">
            <div class="class-nome"><ion-icon name="musical-notes-sharp" color="success"></ion-icon> A Viagem</div>
            <div class="class-artista">Vou pro Sereno</div>
          </div>
        </ion-row>
        <hr class="hr" />


        <ion-row>
          <div class="class-codigo">
            <div>80025</div>
          </div>
          <div class="class-musica">
            <div class="class-nome"><ion-icon name="musical-notes-sharp" color="success"></ion-icon> Bluesman</div>
            <div class="class-artista">Baco Exu do Blues</div>
          </div>
        </ion-row>
        <hr class="hr" />



        <ion-row>
          <div class="class-codigo">
            <div>80026</div>
          </div>
          <div class="class-musica">
            <div class="class-nome"><ion-icon name="musical-notes-sharp" color="success"></ion-icon> P do Pecado</div>
            <div class="class-artista">Grupo Menos É Mais, Simone Mendes</div>
          </div>
        </ion-row>
        <hr class="hr" />


        <ion-row>
          <div class="class-codigo">
            <div>80027</div><!-- Código da musica-->
          </div>
          <div class="class-musica">
            <div class="class-nome"><ion-icon name="musical-notes-sharp" color="success"></ion-icon> Coração Partido</div><!-- nome da musica-->
            <div class="class-artista">Grupo Menos é Mais</div><!-- nome do artista-->
          </div>
        </ion-row>
        <hr class="hr" />


        <ion-row>
          <div class="class-codigo">
            <div>80028</div><!-- Código da musica-->
          </div>
          <div class="class-musica">
            <div class="class-nome"><ion-icon name="musical-notes-sharp" color="success"></ion-icon> Página de Amigos / Inevitável / Flor</div><!-- nome da musica-->
            <div class="class-artista">Grupo Menos é Mais</div><!-- nome do artista-->
          </div>
        </ion-row>
        <hr class="hr" />

        <ion-row>
          <div class="class-codigo">
            <div>80029</div><!-- Código da musica-->
          </div>
          <div class="class-musica">
            <div class="class-nome"><ion-icon name="musical-notes-sharp" color="success"></ion-icon> Olha Onde Eu Tô</div><!-- nome da musica-->
            <div class="class-artista">Ana Castela</div><!-- nome do artista-->
          </div>
        </ion-row>
        <hr class="hr" />

        <ion-row>
          <div class="class-codigo">
            <div>80030</div><!-- Código da musica-->
          </div>
          <div class="class-musica">
            <div class="class-nome"><ion-icon name="musical-notes-sharp" color="success"></ion-icon> Dona</div><!-- nome da musica-->
            <div class="class-artista">Luan Santana</div><!-- nome do artista-->
          </div>
        </ion-row>
        <hr class="hr" />

        <ion-row>
          <div class="class-codigo">
            <div>80031</div><!-- Código da musica-->
          </div>
          <div class="class-musica">
            <div class="class-nome"><ion-icon name="musical-notes-sharp" color="success"></ion-icon> Vagabundo</div><!-- nome da musica-->
            <div class="class-artista">Gusttavo Lima, Luis Fonsi</div><!-- nome do artista-->
          </div>
        </ion-row>
        <hr class="hr" />

        <ion-row>
          <div class="class-codigo">
            <div>80032</div><!-- Código da musica-->
          </div>
          <div class="class-musica">
            <div class="class-nome"><ion-icon name="musical-notes-sharp" color="success"></ion-icon> Haverá Sinais</div><!-- nome da musica-->
            <div class="class-artista">Jorge e Mateus, Lauana Prado</div><!-- nome do artista-->
          </div>
        </ion-row>
        <hr class="hr" />

        <ion-row>
          <div class="class-codigo">
            <div>80033</div><!-- Código da musica-->
          </div>
          <div class="class-musica">
            <div class="class-nome"><ion-icon name="musical-notes-sharp" color="success"></ion-icon> Kamasutra</div><!-- nome da musica-->
            <div class="class-artista">Lauana Prado</div><!-- nome do artista-->
          </div>
        </ion-row>
        <hr class="hr" />

        <ion-row>
          <div class="class-codigo">
            <div>80034</div><!-- Código da musica-->
          </div>
          <div class="class-musica">
            <div class="class-nome"><ion-icon name="musical-notes-sharp" color="success"></ion-icon> Modo Homem</div><!-- nome da musica-->
            <div class="class-artista">Lauana Prado</div><!-- nome do artista-->
          </div>
        </ion-row>
        <hr class="hr" />

        <ion-row>
          <div class="class-codigo">
            <div>80035</div><!-- Código da musica-->
          </div>
          <div class="class-musica">
            <div class="class-nome"><ion-icon name="musical-notes-sharp" color="success"></ion-icon> Olho Marrom</div><!-- nome da musica-->
            <div class="class-artista">Luan Santana</div><!-- nome do artista-->
          </div>
        </ion-row>
        <hr class="hr" />

        <ion-row>
          <div class="class-codigo">
            <div>80036</div><!-- Código da musica-->
          </div>
          <div class="class-musica">
            <div class="class-nome"><ion-icon name="musical-notes-sharp" color="success"></ion-icon> Retrovisor</div><!-- nome da musica-->
            <div class="class-artista">Gusttavo Lima</div><!-- nome do artista-->
          </div>
        </ion-row>
        <hr class="hr" />

        <ion-row>
          <div class="class-codigo">
            <div>80036</div><!-- Código da musica-->
          </div>
          <div class="class-musica">
            <div class="class-nome"><ion-icon name="musical-notes-sharp" color="success"></ion-icon> Tubarões</div><!-- nome da musica-->
            <div class="class-artista">Diego e Victor Hugo</div><!-- nome do artista-->
          </div>
        </ion-row>
        <hr class="hr" />






      </ion-grid>
    </ion-item>
  </ion-list>



</ion-content>
