<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" style="width: 50px">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="titulo">
    <ion-label class="label-titulo">Músicas Adiconadas Recentemente</ion-label>
  </div>

  <ion-list>
    <ion-item  class="plan" text-wrap detail-push>
      <ion-grid>
        <ion-row>
          <div class="class-codigo">
            <div>80019</div>
          </div>
          <div class="class-musica">
            <div class="class-nome"><ion-icon name="musical-notes-sharp" color="success"></ion-icon> Aquela dos olhos negros</div>
            <div class="class-artista">Banda Corpo E Alma</div>
          </div>
        </ion-row>
        <hr class="hr" />
        <ion-row>
          <div class="class-codigo">
            <div>80020</div>
          </div>

          <div class="class-musica">
            <div class="class-nome"><ion-icon name="musical-notes-sharp" color="success"></ion-icon> Bandida</div>
            <div class="class-artista">Banda Corpo E Alma</div>
          </div>
        </ion-row>
        <hr class="hr" />
        <ion-row>
          <div class="class-codigo">
            <div>80021</div>
          </div>

          <div class="class-musica">
            <div class="class-nome"><ion-icon name="musical-notes-sharp" color="success"></ion-icon> Katchaqueira</div>
            <div class="class-artista">Banda Corpo E Alma</div>
          </div>
        </ion-row>
        <hr class="hr" />
        <ion-row>
          <div class="class-codigo">
            <div>80022</div>
          </div>

          <div class="class-musica">
            <div class="class-nome"><ion-icon name="musical-notes-sharp" color="success"></ion-icon> Alô meu amor</div>
            <div class="class-artista">Banda Corpo E Alma</div>
          </div>
        </ion-row>
        <hr class="hr" />
        <ion-row>
          <div class="class-codigo">
            <div>80023</div>
          </div>

          <div class="class-musica">
            <div class="class-nome"><ion-icon name="musical-notes-sharp" color="success"></ion-icon> Olhos negros/Katchaqueira/Alô meu amor</div>
            <div class="class-artista">Banda Corpo E Alma</div>
          </div>
        </ion-row>

        <hr class="hr" />
        <ion-row>
          <div class="class-codigo">
            <div>80024</div>
          </div>

          <div class="class-musica">
            <div class="class-nome"><ion-icon name="musical-notes-sharp" color="success"></ion-icon> A Viagem</div>
            <div class="class-artista">Vou pro Sereno</div>
          </div>
        </ion-row>
        <hr class="hr" />
        <ion-row>
          <div class="class-codigo">
            <div>80025</div>
          </div>

          <div class="class-musica">
            <div class="class-nome"><ion-icon name="musical-notes-sharp" color="success"></ion-icon> Bluesman</div>
            <div class="class-artista">Baco Exu do Blues</div>
          </div>
        </ion-row>

      </ion-grid>
    </ion-item>
  </ion-list>



</ion-content>
